@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  // padding: 0;
  // box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

// html,
// body {
//   height: 100vh;
// }

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}
// ~~~~navbar--start~~~~
.header {
  background-color: #232f3e;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  .header__logo {
    width: 100px;
    margin: 18px 20px 0 20px;
    cursor: pointer;
    object-fit: contain;
  }
  .header__search {
    display: flex;
    flex: 1;
    .header__searchInput {
      height: 12px;
      padding: 10px;
      border: none;
      outline: none;
      width: 100%;
    }
    .header__searchIcon {
      padding: 5px;
      height: 22px !important;
      background-color: #cd9042;
    }
  }
  .header__nav {
    display: flex;
    justify-content: space-evenly;
    .header__link {
      color: #fff;
      text-decoration: none;
    }
  }
}
.header__optionBasket {
  display: flex;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.header__optionOne {
  font-size: 10px;
}

.header__optionTwo {
  font-size: 13px;
  font-weight: 800;
}
// navbar--end

// Homepage-start
.home {
  background: rgb(234, 237, 237);
  .home__wrapper {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 59px;
  }
  .home__row {
    display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;
    // align-items: center;
    z-index: 1;
    margin: 0 5px;
  }
  .home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
  }
  .home__banner {
    display: block;
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
  }
}
// Homepage-end

// Product-start
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  // max-height: 400px;
  min-width: 100px;
  // max-width: 500px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
  }
  > button {
    background-color: #f0c14b;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29; /* top left&right bottom */
    border-radius: 3px;
    padding: 6px;
    cursor: pointer;
  }
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product__star {
  color: rgb(232, 183, 5);
}
// Product-end

// Footer--start
.footer {
  flex-shrink: 0;
  background-color: #232f3e;
  color: #fff;
  .footer__container {
    max-width: 1000px;
    margin: 0px auto;
    padding-top: 50px;
    .footer_row {
      display: flex;
      justify-content: space-between;
    }
  }
}

.footer__title {
  font-size: 15px;
  font-weight: 700;
}

.footer__titleList {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  font-size: 13px;
  line-height: 1.8;
  text-decoration: none;
  li {
    * {
      text-decoration: none;
      color: #ddd;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid #3a4553;
  .footer__image {
    height: 30px;
    padding: 30px 0;
    object-fit: contain;
  }
}
// Footer--end

// SignIn and SignOut ---- start
.auth {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .auth__logo {
    // width: 100%;
    margin: 15px 0;
    height: 50px;
    object-fit: contain;
  }
  .auth__box {
    display: flex;
    flex-direction: column;
    padding: 20px 26px;
    max-width: 320px;
    border: 1px solid #ddd;
    border-radius: 4px;
    .auth__form {
      display: flex;
      flex-direction: column;
    }
    .auth__boxHeader {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 15px;
      padding-bottom: 4px;
    }
    .auth__boxLabel_pass {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .auth__boxForgotPassword {
        font-size: 13px;
        color: #0066c0;
        font-weight: 500;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color: #d32f2f;
        }
      }
    }
    .auth__boxLabel {
      font-size: 13px;
      font-weight: 700;
      padding: 0 0 4px 1px;
    }
    .auth__boxInput {
      height: 24px;
      padding: 3px 7px;
      border: 1px solid #a6a6a6;
      border-top-color: #949494;
      border-radius: 3px;
      margin-bottom: 15px;
      // appearance: none;
      // outline: none;
      &:focus {
        outline-color: #f0c14b;
      }
    }
    .auth__boxMobileSection {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // border: 1px solid black;
      .auth__boxSelect {
        height: 32px;
        padding: 2px;
        background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
        border: 1px solid #a6a6a6;
        border-color: #adb1b8 #a2a6ac #8d9096;
        border-radius: 3px;
        margin-bottom: 15px;
      }
      .auth__boxInput {
        width: 68%;
      }
    }
    .auth__boxBtn {
      background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      outline: none;
      margin: 10px 0;
      height: 32px;
      cursor: pointer;
    }
    .auth__boxTerms {
      font-size: 13px;
      margin: 15px 0;
      .auth__boxConditions {
        color: #0066c0;
        text-decoration: none;
        &:hover {
          color: #d32f2f;
          text-decoration: underline;
        }
      }
    }
    .auth__boxHelp {
      display: flex;
      align-items: center;
      .auth__boxHelpArrow {
        height: 13px;
        width: 13px;
        color: #424242;
      }
      .auth__boxHelpText {
        font-size: 13px;
        color: #0066c0;
        text-decoration: none;
        &:hover {
          color: #d32f2f;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  .auth__subLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    width: 100%;
    margin: 15px 0;
    // border: 1px solid black; //-----------------test
    .auth__divider {
      text-align: center;
      position: relative;
      width: 100%;
      margin: 10px 0;
      .auth__subLink_text {
        color: #767676;
        font-size: 12px;
        z-index: 2;
        background: #fff;
        position: relative;
        display: inline-block;
        padding: 0 8px 0 7px;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        border-top: 1px solid #e7e7e7;
        top: 50%;
        z-index: 1;
        width: 100%;
        margin: 1px;
        background: transparent;
      }
    }
    .auth__subLink_btn {
      background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
      border: 1px solid #8d9096;
      border-radius: 2px;
      width: 100%;
      height: 30px;
      .auth__subLink_link {
        color: #111;
        text-decoration: none;
      }
    }
  }
  .auth__beforeFooterDivider {
    width: 50%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
  }
  .auth__footer {
    font-size: 12px;
    .auth__footerLinks {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      .auth__link {
        color: #0066c0;
        text-decoration: none;
        &:hover {
          color: #d32f2f;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .auth__footerText {
      color: #555;
      font-size: 11px;
    }
  }
}
// SignIn and SignOut ---- end

// Checkout--start
.checkout {
  display: flex;
  // justify-content: center;
  margin-top: 59px;
  padding: 20px;
}

.checkout__containerEmpty {
  display: flex;
  // margin-left: 20px;
  .checkout__containerEmpty-image {
    object-fit: contain;
    max-width: 500px;
    width: 100%;
  }
  .checkout__containerEmpty-box {
    margin-left: 40px;
    > h2 {
      color: #111;
      font-weight: 600;
    }
    > .button {
      display: block;
      width: 105px;
      font-size: 15px;
      background-color: #f0c14b;
      background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
      border: 1px solid;
      border-color: #a88734 #9c7e31 #846a29; /* top left&right bottom */
      border-radius: 3px;
      padding: 6px;
      cursor: pointer;
      text-decoration: none;
      color: #000;
      margin-top: 10px;
    }
  }
}
// Checkout--end

// checkout-product---start
.checkoutProduct {
  display: flex;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 700;
}

.checkoutProduct__info > button {
  background-color: #f0c14b;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29; /* top left&right bottom */
  border-radius: 3px;
  padding: 6px;
  cursor: pointer;
}
// checkout-product--end
