@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header {
  background-color: #232f3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header .header__logo {
  width: 100px;
  margin: 18px 20px 0 20px;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
}

.header .header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .header__search .header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
}

.header .header__search .header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .header__nav .header__link {
  color: #fff;
  text-decoration: none;
}

.header__optionBasket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

.header__optionOne {
  font-size: 10px;
}

.header__optionTwo {
  font-size: 13px;
  font-weight: 800;
}

.home {
  background: #eaeded;
}

.home .home__wrapper {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 59px;
}

.home .home__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  margin: 0 5px;
}

.home .home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
}

.home .home__banner {
  display: block;
  max-width: 1200px;
  width: 100%;
  margin: 10px auto;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 100px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.product > img {
  max-height: 200px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}

.product > button {
  background-color: #f0c14b;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7dfa5), to(#f0c14b));
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  /* top left&right bottom */
  border-radius: 3px;
  padding: 6px;
  cursor: pointer;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product__star {
  color: #e8b705;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #232f3e;
  color: #fff;
}

.footer .footer__container {
  max-width: 1000px;
  margin: 0px auto;
  padding-top: 50px;
}

.footer .footer__container .footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-size: 15px;
  font-weight: 700;
}

.footer__titleList {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  font-size: 13px;
  line-height: 1.8;
  text-decoration: none;
}

.footer__titleList li * {
  text-decoration: none;
  color: #ddd;
}

.footer__titleList li *:hover {
  text-decoration: underline;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border-top: 1px solid #3a4553;
}

.footer__logo .footer__image {
  height: 30px;
  padding: 30px 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.auth {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth .auth__logo {
  margin: 15px 0;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.auth .auth__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 26px;
  max-width: 320px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.auth .auth__box .auth__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.auth .auth__box .auth__boxHeader {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  padding-bottom: 4px;
}

.auth .auth__box .auth__boxLabel_pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth .auth__box .auth__boxLabel_pass .auth__boxForgotPassword {
  font-size: 13px;
  color: #0066c0;
  font-weight: 500;
  text-decoration: none;
}

.auth .auth__box .auth__boxLabel_pass .auth__boxForgotPassword:hover {
  text-decoration: underline;
  color: #d32f2f;
}

.auth .auth__box .auth__boxLabel {
  font-size: 13px;
  font-weight: 700;
  padding: 0 0 4px 1px;
}

.auth .auth__box .auth__boxInput {
  height: 24px;
  padding: 3px 7px;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  margin-bottom: 15px;
}

.auth .auth__box .auth__boxInput:focus {
  outline-color: #f0c14b;
}

.auth .auth__box .auth__boxMobileSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auth .auth__box .auth__boxMobileSection .auth__boxSelect {
  height: 32px;
  padding: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f8fa), to(#e7e9ec));
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border: 1px solid #a6a6a6;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-radius: 3px;
  margin-bottom: 15px;
}

.auth .auth__box .auth__boxMobileSection .auth__boxInput {
  width: 68%;
}

.auth .auth__box .auth__boxBtn {
  background: -webkit-gradient(linear, left top, left bottom, from(#f7dfa5), to(#f0c14b));
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  outline: none;
  margin: 10px 0;
  height: 32px;
  cursor: pointer;
}

.auth .auth__box .auth__boxTerms {
  font-size: 13px;
  margin: 15px 0;
}

.auth .auth__box .auth__boxTerms .auth__boxConditions {
  color: #0066c0;
  text-decoration: none;
}

.auth .auth__box .auth__boxTerms .auth__boxConditions:hover {
  color: #d32f2f;
  text-decoration: underline;
}

.auth .auth__box .auth__boxHelp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth .auth__box .auth__boxHelp .auth__boxHelpArrow {
  height: 13px;
  width: 13px;
  color: #424242;
}

.auth .auth__box .auth__boxHelp .auth__boxHelpText {
  font-size: 13px;
  color: #0066c0;
  text-decoration: none;
}

.auth .auth__box .auth__boxHelp .auth__boxHelpText:hover {
  color: #d32f2f;
  text-decoration: underline;
  cursor: pointer;
}

.auth .auth__subLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
  width: 100%;
  margin: 15px 0;
}

.auth .auth__subLink .auth__divider {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.auth .auth__subLink .auth__divider .auth__subLink_text {
  color: #767676;
  font-size: 12px;
  z-index: 2;
  background: #fff;
  position: relative;
  display: inline-block;
  padding: 0 8px 0 7px;
}

.auth .auth__subLink .auth__divider::after {
  content: "";
  display: block;
  position: absolute;
  border-top: 1px solid #e7e7e7;
  top: 50%;
  z-index: 1;
  width: 100%;
  margin: 1px;
  background: transparent;
}

.auth .auth__subLink .auth__subLink_btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f8fa), to(#e7e9ec));
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border: 1px solid #8d9096;
  border-radius: 2px;
  width: 100%;
  height: 30px;
}

.auth .auth__subLink .auth__subLink_btn .auth__subLink_link {
  color: #111;
  text-decoration: none;
}

.auth .auth__beforeFooterDivider {
  width: 50%;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.auth .auth__footer {
  font-size: 12px;
}

.auth .auth__footer .auth__footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.auth .auth__footer .auth__footerLinks .auth__link {
  color: #0066c0;
  text-decoration: none;
}

.auth .auth__footer .auth__footerLinks .auth__link:hover {
  color: #d32f2f;
  text-decoration: underline;
  cursor: pointer;
}

.auth .auth__footer .auth__footerText {
  color: #555;
  font-size: 11px;
}

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 59px;
  padding: 20px;
}

.checkout__containerEmpty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout__containerEmpty .checkout__containerEmpty-image {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 500px;
  width: 100%;
}

.checkout__containerEmpty .checkout__containerEmpty-box {
  margin-left: 40px;
}

.checkout__containerEmpty .checkout__containerEmpty-box > h2 {
  color: #111;
  font-weight: 600;
}

.checkout__containerEmpty .checkout__containerEmpty-box > .button {
  display: block;
  width: 105px;
  font-size: 15px;
  background-color: #f0c14b;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7dfa5), to(#f0c14b));
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  /* top left&right bottom */
  border-radius: 3px;
  padding: 6px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  margin-top: 10px;
}

.checkoutProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkoutProduct__image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 700;
}

.checkoutProduct__info > button {
  background-color: #f0c14b;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7dfa5), to(#f0c14b));
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  /* top left&right bottom */
  border-radius: 3px;
  padding: 6px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */