body {
  background-color: #fff !important;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.banner {
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
